.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
.buttonDesign{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    color: rgb(48, 14, 14);
    font-weight: bold;
}
@media screen and (max-width:760px) {
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}